.login {
  min-height: calc(100vh - 5rem);
}

.login__form {
  width: 50%;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 15px -8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .login__form {
    width: 90%;
  }
}
